@page
@model Bookstore.Pages.CheckoutCompleteModel
@{
}

<div class="text-center">
    <h2>Success! Your transaction is complete!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
